# Ignore egg-info directories and files
*.egg-info/
*.egg-info/*

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.log
*.tlog

# Visual Studio
.vs/
.vscode/
*.sln.iml

# Python
__pycache__/
*.py[cod]
*$py.class

# Package managers
node_modules/
.paket/
.paket/paket.exe
paket-files/

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.pytest_cache/
nosetests.xml
coverage/

# Miscellaneous
*.tmp
*.tmp_proj
*.bak
*.swp

# Local History for Visual Studio Code
.history/
.localhistory/

# Custom settings
.env
.ipynb_checkpoints/
.DS_Store